.container {
	margin-top: 1rem;
}

.container h1 {
	text-align: center;
}

.grid {
	margin: 1rem;
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
}

@media (min-width: 600px) {
	.grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 1000px) {
	.grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width: 1700px) {
	.grid {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (min-width: 2300px) {
	.grid {
		grid-template-columns: repeat(5, 1fr);
	}
}
