.movieView {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 800px;
}

.header > .infoAndTitle {
  margin: 20px;
}

.header > img {
  width: 100%;
  height: auto;
}

.infoContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap:0 10px;
}

.infoContainer > div:nth-child(2n+1){
  justify-self: self-start;
  color: yellow;
  font-weight: bold;
}

.overviewContainer {
  margin: 20px;
  max-width: 800px;
}

.overviewContainer > h3{
  margin-bottom: 10px;
}

.castContainer {
  margin: 20px;
  max-width: 800px;
}

.cast {
  display: grid;
  grid-template-columns: 1fr;
}

.cast > * {
  justify-self: center;
}

.suggestions {
  margin: 20px;
}

@media only screen and (min-width: 768px){
  .header {
    flex-direction: row;
    align-items: center;
    margin: 0;
  }

  .header > img {
    width: 50%;
    height: auto;
  }

  .overviewContainer {
    margin: 20px 10%;
  }
  .castContainer {
    margin: 20px 10%;
  }
  .cast {
    grid-template-columns: 1fr 1fr;
  }
  .cast > *:nth-child(2n) {
    justify-self: self-start;
  }
  .cast > *:nth-child(2n+1) {
    justify-self: self-end;
  }
}

@media only screen and (min-width: 1440px) {
  .header {
    width: 100%;
    max-width: 1200px;
  }

  .header > .infoAndTitle {
    margin: 0;
    padding: 0 0 0 20px;
    width: 50%;
  }

  .header > .infoAndTitle > h1 {
    margin: 0 0 20px;
    font-size: 5rem;
  }

  .header .infoContainer {
    font-size: 1.5rem;
  }

  .overviewContainer {
    margin: 20px 0;
    max-width: 1200px;
  }

  .overviewContainer > h3 {
    font-size: 2rem;
  }

  .overviewContainer > div {
    font-size: 1.5rem;
  }


  .castContainer {
    margin: 20px 0;
    max-width: 1200px;
  }
  
  .cast {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .castContainer > h3 {
    font-size: 2rem;
  }
}
