.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header > .infoAndTitle {
  margin: 20px;
}

.header > img {
  width: 100%;
  height: auto;
}

.infoContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap:0 10px;
}

.infoContainer > div:nth-child(2n+1){
  justify-self: self-start;
  color: yellow;
}

.overviewContainer {
  margin: 20px;
}

.overviewContainer > h3{
  margin-bottom: 10px;
}

.castContainer {
  margin: 20px;
}

.cast {
  display: grid;
  grid-template-columns: 1fr;
}

.cast > * {
  justify-self: center;
}

@media only screen and (min-width: 768px){
  .header {
    flex-direction: row;
    align-items: center;
    margin: 0 10%;
  }

  .header > img {
    width: 50%;
    height: auto;
  }

  .overviewContainer {
    margin: 20px 10%;
  }
  .castContainer {
    margin: 20px 10%;
  }
  .cast {
    grid-template-columns: 1fr 1fr;
  }
  .cast > *:nth-child(2n) {
    justify-self: self-start;
  }
  .cast > *:nth-child(2n+1) {
    justify-self: self-end;
  }
}
