*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

	--background-color: #000;
	--font-color: #fff;
	--rounded: 0.5rem;
	--secondary-color: #47e10c;
	--grey-color: #131313;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	min-height: 100vh;
	background-color: var(--background-color);
	color: var(--font-color);
	display: flex;
	flex-direction: column;
	width: 100%;
	overflow-x: hidden;
}

a:link {
	color: var(--background-color);
}

.message {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-top: 3rem;
}

.error {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.red-bg {
	background-color: red;
}
